# Example ENV file for the Basecamp Dashboard project. Copy this file to .env and fill in the required values.
# can do this cp .env.example .env
DATABASE_URL=postgresql://basecamp:basecamp@localhost:5432/basecamp